<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
		<title>Pacchetto</title>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">   
	</head> 

	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		
		<div id="container">
			<div><h1>Seleziona un pacchetto da rimuovere</h1></div>
			<div id="section">
				<ul id="elenco">
					<li th:each="pacchetto: ${pacchetti}">
						<span>
							<a href="pacchetto.html" th:href="@{'/pacchetto' + '/' + ${pacchetto.id}}"
					   		th:text="${pacchetto.nome}">Pacchetto 1</a>
					   		<a th:href="@{'/admin' + '/removePacchetto' + '/' + ${pacchetto.id}}"><span id="select">Remove</span></a>
					   	</span>
					</li>	   	
				</ul>
				<img src="/images/allenatore.jpg"></img>
			</div>
		</div>
	</body>

</html>