#text-section {
	display:flex;
	flex-direction: column;
	width: 100%;
}

.text-item {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 200px;
	background-color: #80ff80;
	opacity: 0.8;
	border-radius: 7px;
	padding: 50px;
}

a:hover .text-item {
	color:white;
}

.text-item .button a:hover {
	color: #ad043d;
}

#about {
	background-image: url(../images/pacchetto2.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
}

#contacts {
	background-image: url(../images/sfondo2.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
}

#admin {
	background-image: url("https://www.liamontalti.it/wp-content/uploads/2019/08/istockphoto-949190756-612x612.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
}

#servizi {
	background-image: url(https://dam.regione.lombardia.it/images/sport_570_low.jpg);
	max-width: 100%;
	height: 100%;
	background-size:inherit;
}

#bottoni {
	margin: 200px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#servizi a:hover {
	color: #ff8000;
}

.button {
	border-style: solid;
	border-radius: 3px;
	border-color: #ad043d;
	border-width: 0.1px;
	margin: 20px;
}

#bottoni .button a:hover {
	color: #ad043d;
}
