<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
		<title>Dettagli Pacchetto</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/descrizioni.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">  
	</head> 

	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div id="sfondo-pacchetto"></div>
		<div id="section">
			<div class="section-item">
					<div><strong>Nome: </strong>
					<span th:text="${pacchetto.nome}">Pacchetto</span></div>
					<div><strong>Descrizione: </strong>
					<span th:text="${pacchetto.descrizione}">Descrizione</span></div>
					<div><strong>Allenatore:</strong>
					<span th:text="${pacchetto.allenatore}">Allenatore</span></div>
			</div>
			
			<div class="section-item" th:if="${!pacchetto.sport.empty}">
				<div>Sport nel pacchetto:</div>
				<ul>
					<li th:each="sport: ${pacchetto.sport}">
						<a href="sport.html" th:href="@{'/sport' + '/' + ${sport.id}}"
						   th:text="${sport.nome}">Sport</a>
					</li>	   	
				</ul>
			</div>
		</div>
	</body>

</html>