<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Allenatore</title>
<link rel="stylesheet" th:href="@{/css/elenchi.css}" />
<link rel="stylesheet" th:href="@{/css/my-style.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<div id="container">
		<div th:if="${allenatore != null}">
			<h1>
				Sport dell'allenatore: 
				<span th:text="${allenatore.nome} + ' ' + ${allenatore.cognome}"></span>
			</h1>
		</div>
		<div th:if="${allenatore == null}">
			<h1>I nostri Sports:</h1>
		</div>

		<div id="section">
			<ul id="elenco">
				<li th:each="sport : ${sports}"><a href="#"
					th:href="@{'/sport' + '/' + ${sport.id}}"
					th:text="${sport.nome}">Premium</a></li>
			</ul>
		</div>
	</div>
</body>

</html>